// UI Breakpoints


// Not small phones =======================================================================================
@media (min-width: @breakpoint-medium) {
		body.loggedIn {
				div.core {
						min-height: 500px;
				}
		}
		
}

// Only small phones =====================================================================================
@media (max-width: @breakpoint-small-max) {

		@a-header-height-small: @a-header-height * 0.8;
		
		div.coreContainer {
				padding-left: 0;
				padding-right: 0;
		}

		div.aureaHeader {

				padding-top: @a-header-padding / 2;
				padding-bottom: @a-header-padding / 2;
				height: @a-header-height-small;

				a.aureaLogo {
						span.aureaLogo {
						
								&.wide {
										display: none;
								}
								&.tall {
										display: unset;
								}
						}
				}

				nav {
						height: @a-header-height-small;

						&.aureaMenubar {

								ul.uk-navbar-nav {
										height: @a-header-height-small;

										li {
												padding-top: 0.6em;
										}

								}

						}
				}

				
		}

		div.VIAAurModuleExerciser {
				div.moduleNavigation {
						top: @a-header-height-small;
				}
		}


		div.exercise {
				div.highlightAreas {
						//						letter-spacing: 0.1em;
						font-size: 150%;
						line-height: 2em;
				}
		}
		
		
}

// Not large screens ==============================================================================================
@media (max-width: @breakpoint-large) {

		body {
				// div.mainContainer {
				// 		padding-bottom: 3em;
				// }
				
				// div.footer {
				// 		bottom: 3px;
				// 		position: absolute;
				// 		font-size: 90%;
				// }
		}
}

// Only large screens ============================================================================================
@media (min-width: @breakpoint-large) {

		@backgroundcolor: #EFEBE8;
		@sidePadding: 10vw;
		
		html {
				min-height: 100vh;
				background-color: @backgroundcolor;
		}
		
		body {
				background-color: @backgroundcolor;


				div.aureaHeader {
						padding-left: @sidePadding;
				}
				
				div.coreContainer {
						background-color: @backgroundcolor;
						padding-left: @sidePadding;
						padding-right: @sidePadding;

						// padding-bottom: 4em; // Because of fixed footer

						div.core {
								background-color: white;
//								padding-bottom: 1em;
						}
				}

				&.loggedIn {
						div.coreContainer {

								div.core {
										padding-bottom: 1em;
								}
						}
				}
				
				&.wantColorBackground {
						background-color: @a-color-main;
						div.coreContainer {
								background-color: @a-color-main;
								div.core {
										background-color: @a-color-main;
								}
						}
				}


		}
		

		div.aureaHeader {
				padding-left: 10%;
				padding-right: 10%;				
		}

		div.VIAAurTaskExerciser {
				div.exercise {
						div.audioPlayer {
								width: 50%;
						}

						div.videoPlayer, div.youtubePlayer, div.vimeoPlayer, div.srgVideoPlayer {
								max-width: 60%;
						}
				}
		}

}


// Keep this for Emacs editor!
// Local Variables:
// less-css-compile-at-save: t
// End:
